* {
  padding: 5px;
  margin-top: 5px;
  font-family: monospace;
}

input[type=file] {
  width: 100%;
  height: 50vh;
  color: #444;
  padding: 5px;
  background: #fff;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 4vh;
  font-family: monospace;
  color: #fff;
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}

.center_block {
  text-align: center;
}

header {
    border-radius: 10px;
}

.header_text {
    font-size: 5vh;
}

.header_help {
  font-size: 2vh;
  font-weight: bold;
}

footer {
    border-radius: 10px;
    text-align: center
}

.footer_text {
    font-size: 2vh;
}

.cover {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
}

.popup {
    display: none;
    background: white;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -200px;
    text-align: center;
    font-size: 4vh;
    font-family: monospace;
    z-index: 2;
    border-radius: 20px;
}

table {
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
    font-family: monospace;
}

th {
    border-radius: 5px;
    font-weight: bold;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 5px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background: #04AA6D;
  color: white;
}

.bg_blue {
    background: #084cdf;
}

.color_white {
    color: white;
}