<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ title }} </title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/index.js"></script>
</head>
<body>

<header>
  <h1 class='header_text'>{{ title }}</h1>
  <span class='header_help'>{{ subtitle }}</span>
</header>
<div class='file_upload center_block'>
  <input type='file' class='file_input' id='file_input'>
</div>
<footer>
  <p class='footer_text'>
      {{ footer }}
  </p>
</footer>

<div class="cover"></div>

<div class="popup">
    <h3 class="popup_title bg_blue color_white"></h3>
    <p class="popup_content"></p>
</div>

</body>
</html>