<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ title }} </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script>
        const FILE_NAME = '{{ file_name }}'
    </script>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/report_view.js') }}"></script>
</head>
<body>

<header class='bg_blue color_white'>
  <h1 class='header_text'>{{ title }}</h1>
  <span class='header_help'>{{ subtitle }}</span>
</header>

<ul class='anchors'>
    <li><a href='#source_table'>Исходные данные</a></li>
    <li><a href='#normalized_table'>Нормализованные данные</a></li>
    <li><a href='#statistic_table'>Статистические параметры</a></li>
    <li><a href='#chi_square_table'>Показатель нормальности Пирсона</a></li>
</ul>


<a class='table_header' name='source_table'>Исходные данные</a>
<table>
    <tbody id='source_table_content'></tbody>
</table>

<a class='table_header' name='normalized_table'>Нормализованные данные</a>
<table>
    <tbody id='normalized_table_content'></tbody>
</table>

<a class='table_header' name='statistic_table'>Статистические характеристики</a>
<table>
    <tbody id='statistic_table_content'></tbody>
</table>

<a class='table_header' name='chi_square_table'>Показатель нормальности Пирсона</a>
<table>
    <tbody id='chi_square_table_content'></tbody>
</table>

<footer class='bg_blue color_white'>
  <p class='footer_text'>
      {{ footer }}
  </p>
</footer>

<div class="cover"></div>

<div class="popup">
    <h3 class="popup_title bg_blue color_white"></h3>
    <p class="popup_content"></p>
</div>

</body>
</html>