<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ title }} </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script>
        const FILE_NAME = '{{ file_name }}'
        const CHART_PREFIX = '{{ chart_prefix }}'
    </script>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

    <script src=" {{ url_for('static', filename='js/report_view/plotly.min.js') }}"></script>

    <script src=" {{ url_for('static', filename='js/utils/modals.js') }}"></script>
    <script src=" {{ url_for('static', filename='js/utils/colorFilter.js') }}"></script>
    <script src="{{ url_for('static', filename='js/report_view/report_view.js') }}"></script>
</head>
<body>

<header class='bg_blue color_white'>
  <h1 class='header_text'>{{ title }}</h1>
  <span class='header_help'>{{ subtitle }}</span>
</header>

<ul id='anchors'>
    <li><a href='#source_table'>{{ source_table_header }}</a></li>
    <li><a href='#normalized_table'>{{ normalized_table_header }}</a></li>
    <li><a href='#statistic_table'>{{ statistic_table_header }}</a></li>
    <li><a href='#chi_square_table'>{{ pearson_table_header }}</a></li>
    <li><a href='#correlation_table'>{{ correlation_matrix_header }}</a></li>
</ul>


<h3 class='table_header' id='source_table'>{{ source_table_header }}</h3>
<button id='source_table_button' class='display_button'>{{ show_table_button }}</button>
<table>
    <tbody id='source_table_content'></tbody>
</table>

<h3 class='table_header' id='normalized_table'>{{ normalized_table_header }}</h3>
<button id='normalized_table_button' class='display_button'>{{ show_table_button }}</button>
<table>
    <tbody id='normalized_table_content'></tbody>
</table>

<h3 class='table_header' id='statistic_table'>{{ statistic_table_header }}</h3>
<button id='statistic_table_button' class='display_button'>{{ show_table_button }}</button>
<table>
    <tbody id='statistic_table_content'></tbody>
</table>

<h3 class='table_header' id='chi_square_table'>{{ pearson_table_header }}</h3>
<button id='chi_square_table_button' class='display_button'>{{ show_table_button }}</button>
<table>
    <tbody id='chi_square_table_content'></tbody>
</table>

<h3 class='table_header' id='correlation_table'>{{ correlation_matrix_header }}</h3>
<button id='correlation_table_button' class='display_button'>{{ show_table_button }}</button>
<table>
    <tbody id='correlation_table_content'></tbody>
</table>

<select id='available_columns'>
    <option></option>
</select>
<h3 class='table_header' id='partial_correlation_table'>Частная корреляция</h3>
<button id='partial_correlation_table_button' class='display_button'>{{ show_table_button }}</button>
<table>
    <tbody id='partial_correlation_table_content'></tbody>
</table>

<div class="correlation">
    <div class="table_header" id="correlation_pleiades">Корреляционные плеяды</div>
        <div class="correlation__btn-wrap">
            <button class="correlation__btn" id="correlation_all_bindings_button" type="button">Все</button>
            <button class="correlation__btn" id="correlation_weak_bindings_button" type="button">Слабая связь</button>
            <button class="correlation__btn" id="correlation_average_bindings_button" type="button">Сильная связь</button>
            <button class="correlation__btn" id="correlation_strong_bindings_button" type="button">Очень сильная связь</button>
        </div>
        <button id="show_correlation_pleiades_button" class="display_button">Показать диаграмму</button>
        <canvas id="correlation_pleiades_canvas"></canvas>
</div>

<h3 class='table_header'>{{ charts_header }}</h3>
<button id='charts_button' class='display_button'>{{ show_charts_button }}</button>
<div id='charts'>
</div>

<footer class='bg_blue color_white'>
  <p class='footer_text'>
      {{ footer }}
  </p>
</footer>

<div class="cover"></div>

<div class="popup">
    <h3 class="popup_title bg_blue color_white"></h3>
    <p class="popup_content"></p>
</div>

</body>
</html>